<section [formGroup]="forgotForm" (ngSubmit)="forgotPassword()" *ngIf="step1" class="w-50 p-3 bg-main-light rounded shadow mx-auto mt-4">
  <form>
    <label for="email">email</label>
    <input formControlName="email" type="email" class="form-control" id="email">
    <button class="w-100 main-btn mt-3">Send</button>
  </form>
  <p *ngIf="successMsg" class="alert alert-success mb-0">{{successMsg}}</p>
  <p *ngIf="errorMsg" class="alert alert-danger mb-0">{{errorMsg}}</p>
</section>
<section [formGroup]="resetCodeForm" (ngSubmit)="resetCode()" *ngIf="step2" class="w-50 p-3 bg-main-light rounded shadow mx-auto mt-4">
  <form>
    <label for="resetCode">reset code</label>
    <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
    <button class="w-100 main-btn mt-3">Send</button>
  </form>
  <p *ngIf="successMsg" class="alert alert-success mb-0">{{successMsg}}</p>
  <p *ngIf="errorMsg" class="alert alert-danger mb-0">{{errorMsg}}</p>
</section>
<section [formGroup]="resetPasswordForm" (ngSubmit)="newPassword()" *ngIf="step3" class="w-50 p-3 bg-main-light rounded shadow mx-auto mt-4">
  <form>
    <label for="resetPassword">new password</label>
    <input formControlName="newPassword" type="password" class="form-control" id="resetPassword">
    <button class="w-100 main-btn mt-3">Reset Password</button>
  </form>
  <p *ngIf="successMsg" class="alert alert-success mb-0">{{successMsg}}</p>
  <p *ngIf="errorMsg" class="alert alert-danger mb-0">{{errorMsg}}</p>
</section>
